@font-face 
{ 
    font-family: "Minecraft";
    src: url("../assets/gui/fonts/Minecraft.woff") format("woff");
}

body 
{
    margin: 0;
    overflow: hidden;
    color: #e3e35e;
    border-color: #e3e35e;
    font-family: Minecraft;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
}

#canvas-wrap 
{ 
    position: relative;
    width: 100%;
    height: 100%;
}

#canvas-wrap *
{
    position: absolute;
}

#gl-canvas
{ 
    z-index: 0;
}

.ui
{
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}

#loadingUI
{
    display: block;
}

#loadingUI #loadingText
{
    top: 450px;
    width: 100%;
    font-size: 50px;
    text-align: center;
}

#loadingUI #loadingBox
{
    top: 550px;
    width: 1210px;
    height: 60px;
    margin-left: calc(50% - 610px);
    margin-right: calc(50% - 605px);
    border-style: solid;
    border-width: 5px;
    border-color: #e3e35e;
}

#loadingUI #loadingBar
{
    top: 5px;
    height: 50px;
    margin-left: 5px;
    background-color: #e3e35e;
}

#menuUI #title
{
    top: 150px;
    width: 100%;
    font-size: 160px;
    text-align: center;
}

button
{
    font-family: Minecraft;
    color: #e3e35e;
    background: transparent;
    border-width: 5px;
    border-color: transparent;
    border-style: solid;
    padding: 10px 10px 0px 10px;
}

button:hover
{
    border-color: #e3e35e;
}

#menuUI button
{
    margin-left: calc(50% - 200px);
    margin-right: calc(50% - 200px);
    width: 400px;
    font-size: 50px;
    text-align: center;
}

#menuUI #option1
{
    top: 400px;
}

#menuUI #option2
{
    top: 500px;
}

#menuUI #option3
{
    top: 600px;
}

#menuUI #soundOff
{
    bottom: 50px;
    left: 50px;
}

#menuUI #soundOn
{
    bottom: 50px;
    left: 50px;
    display: none;
}

.pageCard
{
    top : 40px;
    text-align: center;
    width: 100%;
    font-size: 50px;
}

.text
{
    top: 100px;
    padding: 50px;
    font-size: 30px;
}

.nextButton
{
    margin-left: calc(50% - 200px);
    margin-right: calc(50% - 200px);
    width: 400px;
    font-size: 50px;
    text-align: center;
    bottom: 60px;
}

#cameraUI #camCount
{
    width: 150px;
    font-size: 60px;
    top: 30px;
    left: 20px;
    text-align: center;
}

#cameraUI #timer
{
    font-size: 60px;
    top: 50px;
    right: 40px;
    text-align: right;
}

#cameraUI #lifeContainer
{
    bottom: 120px;
    left: 50px;
}

#cameraUI #lifeBar1
{
    bottom: 109px;
    left: 61px;
}

#cameraUI #lifeBar2
{
    bottom: 109px;
    left: 89px;
}

#cameraUI #lifeBar3
{
    bottom: 109px;
    left: 117px;
}

#cameraUI #scoreText
{
    font-size: 50px;
    bottom: 45px;
    right: 50px;
    padding: 14px 14px 0px 14px;
    border-width: 5px;
    border-style: solid;
    text-align: right;
}